@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #95d8ec;
  }
}

html {
  height: 100%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--foreground);
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

header {
  background-color: #a2e7f3;
  color: #fff;
  padding: 10px;
  text-align: center;
  width: 100%;
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: none;
}


#proyects-section{
  display: none;
  gap: 13rem;
  justify-content: space-around;
}

#proyects-section.is-open {
  display: flex;
}

#music-article, #portfolio-article{
  display: none;
}

#music-article.is-open, #portfolio-article.is-open{
  display: flex;
}

#contact-section{
  padding: 13rem 5rem; 
  display: none; 
  align-items: center; 
  flex-direction: column;
}

#contact-section.is-open{
  display: flex;
}

#menu-bar{
  display: none; 
  flex-direction: column; 
  position: fixed; 
  z-index: 10; 
  background-color:white; 
  padding: 20px 15px; 
  gap: 15px;
  margin: 40px 0 0 40px;
}

#menu-bar.is-open{
  display: flex;
}

